<form class="d-flex">
  <input class="form-control me-2" type="search" placeholder="Pesquisar tarefa" aria-label="Search">
</form>

<hr size="3" width="100%" color="#EEEEEE" style="margin: 0%;">

<ul class="nav nav-tabs nav-feed" id="myTab" role="tablist">
  <li class="nav-item" role="presentation">
    <a class="nav-link active nav-link-1" id="tarefas-tab" data-bs-toggle="tab" routerLink="tarefas" role="tab"
      aria-controls="tarefas" aria-selected="true"><i class="bi bi-grid"></i> A FAZER</a>
  </li>

  <li class="nav-item" role="presentation">
    <a class="nav-link nav-link-2" id="concluidas-tab" data-bs-toggle="tab" routerLink="concluidas" role="tab"
      aria-controls="tarefas" aria-selected="false"><i class="bi bi-ui-checks"></i> CONCLUÍDAS</a>
  </li>
</ul>

<table class="table table-hover table-striped">
  <thead>
    <td>#</td>
    <td>Titulo</td>
    <td>Descrição</td>
    <td>Categoria</td>
    <td>Data de Conclusão</td>
  </thead>

  <tbody>
    <tr *ngFor="let tarefa of tarefas">
      <td>{{tarefa.id}}</td>
      <td>{{tarefa.titulo}}</td>
      <td>{{tarefa.descricao}}</td>
      <td>{{tarefa.categoria}}</td>
      <!--Pegar a categoria, mas no lugar do nome queria exibir em uma cor-->
      <td>{{tarefa.dataConclusao}}</td>
      <a href="#" class="btn btn-primary">Concluir</a>
      <a href="#" class="btn btn-danger">Remover</a>
    </tr>
  </tbody>
</table>


<div class="tab-content" id="myTabContent">
  <div class="tab-pane fade show active" id="tarefas" role="tabpanel" aria-labelledby="tarefas-tab">
    <div class="row" style="padding-bottom: 25px;">
      <div class="col-4">
        <div class="card">
          <div class="card-body">
            <td class="card-title">Titulo</td>
            <p class="card-text">Descrição resumida de uma tarefa.</p>
            <a href="#" class="btn btn-primary">Concluir</a>
            <a href="#" class="btn btn-danger">Remover</a>
          </div>
        </div>
      </div>
      <div class="col-4">
        <div class="card"></div>
      </div>
      <div class="col-4">
        <div class="card"></div>
      </div>
    </div>



  </div>
  <div class="tab-pane fade" id="concluidas" role="tabpanel" aria-labelledby="concluidas-tab">
  </div>
</div>
